.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.custab {
  border: 1px solid #ccc;
  // padding: 5px;
  // margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}
.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.c {
  width: 97%;
  text-align: center;
  margin: 0 auto 0 auto;
}
.text {
  padding-top: 25px;
}
.img {
  width: 120px;
  height: 60px;
}

.img1 {
  height: 100px;
  width: 150px;
}

.pad {
  padding-top: 8px;
  padding-bottom: 8px;
}
